<!-- Main Slide Item -->
<div class="featured-main">
  <a href="#"><%= image_tag "featured-main.jpg" %></a>
  <div class="featured-main-details">
    <div class="featured-main-details-cnt">                 
      <h4><a href="#">Kaka desea jugar con el Barcelona.</a></h4>
      <p>Despues de su paso por el Real Madrid, KAKA quiere jugar el clasico pero del lado del equipo mejor laureado del planeta, es decir el FC BARCELONA.</p>
    </div>
  </div>
</div>
<!-- End Main Slide Item -->
