<h1><%= @player.name %></h1>
<p>
  <% if @performances.any? %>
    <h2>Performances</h2>
    <div>
      <table>
        <tr>
          <th>Partido</th>
          <th>Goles</th>
          <th>Asistencias</th>
          <th>Minutos</th>
          <th>Distancia</th>
          <th>Titular</th>
          <th>Amarillas</th>
          <th>Roja</th>
          <th></th>
        </tr>
        <%= render @performances %>
    </table>
    </div>
  <% else %>
    <em>NO TIENE PERFORMANCES</em>
  <% end %>
</p>
<%= link_to "Nuevo Performance", new_player_performance_path(@player) %>

